.div{
    text-align: center;
}
h1{
    font-size: 90px;
    font-family: Impact;
}
p{
    font-size: 35px;
}
button{
    padding: 27px 90px;
    background-color: blue;
    color: white;
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: green;
}
.img{
    margin-top: 20px;
    display: none;
}
.img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
.img.appear{
    display: block;
}